body		{background-color: grey;}
canvas		{position: absolute; background: transparent;}

#wrapper		{width: 1200px; margin: auto;}
#seperator		{width: 1200px; height: 50px;}
#canvas_space	{width: 1200px;}